.header p, .header select {
    display:inline-block;
}
.header p {
    width: 50px;
    margin: 1rem 0 1rem 1rem;
}
select {
    height: 2rem;
    border-radius: 5px;
    width: calc(100% - 50px - 6rem);
    margin-left: 1rem;
    font-size: large;
    box-sizing: border-box;
}
span {
    font-weight: normal;
}
.boldLabel {
    font-weight: bold;
}
.tableSpacing td {
    padding-top: 0.5rem;
}